<div class="container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title class="title">
        {{ 'REGISTER_TITLE' | translate }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form
        class="login-form"
        [formGroup]="signupFormGroup"
        (ngSubmit)="onSubmit()"
      >
        <mat-form-field class="form-field" appearance="outline">
          <input
            matInput
            type="fullName"
            placeholder="fullName"
            formControlName="name"
          />
          <mat-error> Please provide a valid name </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <input
            matInput
            type="email"
            placeholder="Email"
            formControlName="email"
          />
          <mat-error> {{ 'SIGNUP_EMAIL_ERROR' | translate }} </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
          />
          <mat-error> {{ 'SIGNUP_PASSWORD_ERROR' | translate }}</mat-error>
        </mat-form-field>
        <div class="test" mat-dialog-actions>
          <button
            mat-raised-button
            color="primary"
            [disabled]="!signupFormGroup.valid"
          >
            {{ 'REGISTER_BUTTON' | translate }}
          </button>
        </div>
      </form>
      <a style="color: #fff; margin-top: 10px" routerLink="/login">{{
        'LOGIN_HYPERLINK' | translate
      }}</a>
    </mat-card-content>
  </mat-card>
</div>
