.book-item {
  margin-top: 3%;
  display: grid;
  gap: 20px;
  // grid-template-rows: 0.4fr 0.4fr 0.4fr;
  text-align: center;
  grid-template-columns: 20% 20%;
}
.title-detail{
  margin-left: 20%;
}
.col-md-4,
.col-md-8 {
  display: inline;
}

.add-button {
  position: relative;
  top: 230%;
  left:30%;
}

::ng-deep .mat-form-field-infix {
  left: 20%;
}
